* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    /* background-color: beige; */
    background-image: url("https://media.istockphoto.com/id/2181870239/photo/check-mark-on-list-check-list-in-business.webp?a=1&b=1&s=612x612&w=0&k=20&c=d27YmqPfisxfLrdaF124seKFVoiN4eHN0kRwrHb9Gzg=");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    background-color:#7ba0a0;
    width: 300px;
    height: 139px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 12px rgb(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.input-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 1px;
    border: apx solid #ccc;
    border-radius: 4px;
}

button {
    border-radius: 3px;
    cursor: pointer;
    border: none;
    color: white;
    background: black;
    padding: 2px;

}

ul {
    list-style: none;
    margin-top: 15px;
}

li {
    background: #eee;
    padding: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;

}

li.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.delete {
    background: red;
    color: white;
    border: none;
    padding: 3px 7px;
    cursor: pointer;
    border-radius: 3px;
}

.edit {
    background: grey;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;

}